div {
	padding: 10px 10px 10px 10px;
    text-align: center;
    margin: 10px auto 10px auto;
    height: 100px;
    width: 300px;
    font-size: 24px;
}

.none {
	background-color: grey;
}
.low {
	background-color: green;
}
.medium {
	background-color: yellow;
}
.high {
	background-color: red;
}
.ultra-high {
	background-color: purple;
}