div {
	padding: 10px 10px 10px 10px;
    text-align: center;
    margin: 10px auto 10px auto;
    height: 90px;
    width: 300px;
    font-size: 24px;
}

.None {
	background-color: grey;
}
.Low {
	background-color: green;
}
.Medium {
	background-color: yellow;
}
.High {
	background-color: red;
}
.Ultra-High {
	background-color: magenta;
}